/* src/components/TimeLine.css */

body {
    background: #080909;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgb(246, 238, 238);
  }

  .icon {
    transition: box-shadow 0.3s ease-in-out;
  }
  

  .timeline-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .icon:hover {
    box-shadow: 0 0 15px 0 rgb(254, 254, 254); /* Adjust glow effect as needed */
  }
  
  .title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: #fff;
  }
  
  h3 {
    padding-top: 0.25em;
  }
  
  .vertical-timeline-element-title {
    color: rgb(33, 32, 35);
    margin-bottom: 2em;
  }
  
  .vertical-timeline-element-subtitle {
    margin-top: 20px;
    color: rgb(67, 66, 68);
    font-style: italic;
    font-weight: 400;
    font-size: medium;

  }
  
  .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(190, 186, 186, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
    background: #fff !important;
    transition: transform 0.3s ease-in-out;
  }
  
  .vertical-timeline-element-content:hover {
    transform: translateY(-5px);
  }
  
  #description {
    color: rgb(92, 91, 93);
    margin-top: 0.5em;
  }
  #shortdescription {
    color: rgb(67, 66, 68);
    margin-top: 0.5em;
  }
  #gpa{
    color: rgb(92, 91, 93);
    margin-bottom: 2em;
    font-weight: bold;

  }
  .date {
    color: rgb(225, 234, 156);
    font-size: 1em;
  }
  
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  
  .workButton {
    background-color: #06d6a0;
  }
  
  .workButton:hover {
    background-color: #0ac593;
  }
  
  .schoolButton {
    background-color: #f9c74f;
  }
  
  .schoolButton:hover {
    background-color: #f3bc3c;
  }
  
  .vertical-timeline-element-date {
    color: rgb(246, 252, 248);
    font-size: 1em;
    display: block !important;
    float: none !important;
    margin-top: 1.5em;
  }
  
  @media (max-width: 1700px) {
    .vertical-timeline-element-content {
      padding: 1.5em 2.5em !important;
    }
  
    .vertical-timeline-element-date {
      font-size: 0.9em;
    }
  }
  
  @media (max-width: 1200px) {
    .vertical-timeline-element-content {
      padding: 1em 2em !important;
    }
  
    .vertical-timeline-element-date {
      font-size: 0.9em;
    }
  }
  
  @media (max-width: 768px) {
    .vertical-timeline-element-content {
      padding: 0.5em 1.5em !important;
    }
  
    .vertical-timeline-element-date {
      font-size: 0.9em;
    }
  }
  